html{
    font-size: 62.5%;
}

#line-graph{
    margin: 50px 0 0 0;
    height: 80vh;
}

#radio-buttons{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
}